body {
    background-color: black;
}

.icon {
    width: 25%;
}

.banner {
    position: absolute;
    width: 75%;
}

.PlayBTN {
    width: 15%;
    margin-left: 42.5%;
}

.void {
    padding: 5%;
}

.voided {
    padding: 1%;
}

.subTitle {
    background-color:aqua;
    padding: 5px;
    text-align: center;
    font-size:xx-large;
    color: black;
}

.scoreBoard {
    background-color:aqua;
    padding: 5px;
}

.First {
    color:black;
}

.Second {
    color:black;
}

.Third {
    color:black;
}

.text {
    color: white;
    font-size: larger;
    text-indent: 5%;
}

.subText {
    background-color: black;
    color: aqua;
    background-color:aqua;
    color: black;
}

.rules {
    color: aqua;
    font-size: larger;
    text-indent: 5%;
}

.last-container {
    background-color: black;
}

.leaderBoard {
    margin-left: 20%;
}

.nhlWebsite {
    margin-left: 50%;
    
}

.modal {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid aqua;
    border-radius: 10px;
    z-index:10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1); 
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid aqua;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;

}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px
}

#overlay {
    position: fixed;
    /* opacity: 0; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}