body {
    background-color: black;
}

.icon {
    width: 25%;
}

.banner {
    position: absolute;
    width: 75%;
    margin-top: 3.5px;
}

.PlayBTN {
    width: 15%;
    margin-left: 42.5%;
}

.void {
    padding: 5%;
}

.subTitle {
    background-color: green;
    padding: 5px;
    text-align: center;
    font-size:xx-large;
}

.scoreBoard {
    background-color: green;
    padding: 5px;
}

.text {
    color: white;
    font-size: larger;
    text-indent: 5%;
}

.subText {
    background-color: green;
}

.rules {
    color: white;
    font-size: larger;
    text-indent: 5%;
}